/* Scollbar */
$scrollbar_color: #0000ff !default;
$scrollbar_bg: #ccc !default;
* {
	scrollbar-color: $scrollbar_color $scrollbar_bg;
	scrollbar-width: thin;

	scrollbar-face-color: $scrollbar_color;
	scrollbar-track-color: $scrollbar_bg;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: $scrollbar_bg; 
}
::-webkit-scrollbar-thumb {
    background: $scrollbar_color;
}
::-webkit-scrollbar-thumb:hover {
    background: #68767b; 
}