@charset "UTF-8";
/* dùng cho một vài thuộc tính riêng cho trình duyện VD: transition, box-shadow */
/* căn giữa chiều dọc và ngang trên 1 box */
/* background opacity */
* {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box; }

body {
  background: #f5f5f5;
  font-size: 14px;
  font-family: 'Arial', 'sans-serif'; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #000000; }

table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%; }

button {
  cursor: pointer; }

/* 
	thuộc tính transform dùng để tạo hiệu ứng
		rotate(Độ:deg): hiệu ứng xoay VD rotate(90deg)
		scale(kích thước phóng:số): hiệu ứng zoo VD scale(1)

		translateX(px): di chuyển ngang
		translateY(px): di chuyển dọc

		skewX(Độ:deg): nghiêng ngang
		skewY(Độ:deg): nghiêng dọc

		transform-origin: Nó cho phép bạn định vị chiều rộng và chiều cao cho thành phần,
		dùng chung với transform và có các thuộc tính: top bottom left right và %

		Perspective: tạo hiệu ứng 3D nó sẽ cho ta thấy được chiều sâu của thành phần, 
		khoảng chiều sâu được tính từ điểm đặt ban đầu tới giá trị của perspective (theo đơn vị pixel).
	
	cú pháp tạo 1 animation
	@keyframes box-rotate-reverse {
		50% {
			transform: rotate(-180deg); 
		}
		100% { 
			transform: rotate(-360deg); 
		}
	}
	gọi
	animation: NameKeyFrames duration(s) timing delay(s) iteration-count direction;
*/
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.row {
  width: calc(100% + 15px*2);
  float: left;
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap; }

.col {
  width: 100%;
  float: left;
  padding: 0 15px;
  transition: 0.2s; }

/* dùng xs cho màn điện thoại có kích thước nhỏ hơn 576px */
@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%; }

  .col-xs-1 {
    width: calc(100% - (100% / (12 / (12 - 1) )) ); }

  .col-xs-2 {
    width: calc(100% - (100% / (12 / (12 - 2) )) ); }

  .col-xs-3 {
    width: calc(100% - (100% / (12 / (12 - 3) )) ); }

  .col-xs-4 {
    width: calc(100% - (100% / (12 / (12 - 4) )) ); }

  .col-xs-5 {
    width: calc(100% - (100% / (12 / (12 - 5) )) ); }

  .col-xs-6 {
    width: calc(100% - (100% / (12 / (12 - 6) )) ); }

  .col-xs-7 {
    width: calc(100% - (100% / (12 / (12 - 7) )) ); }

  .col-xs-8 {
    width: calc(100% - (100% / (12 / (12 - 8) )) ); }

  .col-xs-9 {
    width: calc(100% - (100% / (12 / (12 - 9) )) ); }

  .col-xs-10 {
    width: calc(100% - (100% / (12 / (12 - 10) )) ); }

  .col-xs-11 {
    width: calc(100% - (100% / (12 / (12 - 11) )) ); }

  .col-xs-12 {
    width: 100%; } }
/* dùng sm cho màn điện thoại có kích thước lớn hơn 576px */
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px; }

  .col-sm-1 {
    width: calc(100% - (100% / (12 / (12 - 1) )) ); }

  .col-sm-2 {
    width: calc(100% - (100% / (12 / (12 - 2) )) ); }

  .col-sm-3 {
    width: calc(100% - (100% / (12 / (12 - 3) )) ); }

  .col-sm-4 {
    width: calc(100% - (100% / (12 / (12 - 4) )) ); }

  .col-sm-5 {
    width: calc(100% - (100% / (12 / (12 - 5) )) ); }

  .col-sm-6 {
    width: calc(100% - (100% / (12 / (12 - 6) )) ); }

  .col-sm-7 {
    width: calc(100% - (100% / (12 / (12 - 7) )) ); }

  .col-sm-8 {
    width: calc(100% - (100% / (12 / (12 - 8) )) ); }

  .col-sm-9 {
    width: calc(100% - (100% / (12 / (12 - 9) )) ); }

  .col-sm-10 {
    width: calc(100% - (100% / (12 / (12 - 10) )) ); }

  .col-sm-11 {
    width: calc(100% - (100% / (12 / (12 - 11) )) ); }

  .col-sm-12 {
    width: 100%; } }
/* dùng md cho màn điện thoại có kích thước lớn hơn 768px */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px; }

  .col-md-1 {
    width: calc(100% - (100% / (12 / (12 - 1) )) ); }

  .col-md-2 {
    width: calc(100% - (100% / (12 / (12 - 2) )) ); }

  .col-md-3 {
    width: calc(100% - (100% / (12 / (12 - 3) )) ); }

  .col-md-4 {
    width: calc(100% - (100% / (12 / (12 - 4) )) ); }

  .col-md-5 {
    width: calc(100% - (100% / (12 / (12 - 5) )) ); }

  .col-md-6 {
    width: calc(100% - (100% / (12 / (12 - 6) )) ); }

  .col-md-7 {
    width: calc(100% - (100% / (12 / (12 - 7) )) ); }

  .col-md-8 {
    width: calc(100% - (100% / (12 / (12 - 8) )) ); }

  .col-md-9 {
    width: calc(100% - (100% / (12 / (12 - 9) )) ); }

  .col-md-10 {
    width: calc(100% - (100% / (12 / (12 - 10) )) ); }

  .col-md-11 {
    width: calc(100% - (100% / (12 / (12 - 11) )) ); }

  .col-md-12 {
    width: 100%; } }
/* dùng lg cho màn điện thoại có kích thước lớn hơn 992px */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px; }

  .col-lg-1 {
    width: calc(100% - (100% / (12 / (12 - 1) )) ); }

  .col-lg-2 {
    width: calc(100% - (100% / (12 / (12 - 2) )) ); }

  .col-lg-3 {
    width: calc(100% - (100% / (12 / (12 - 3) )) ); }

  .col-lg-4 {
    width: calc(100% - (100% / (12 / (12 - 4) )) ); }

  .col-lg-5 {
    width: calc(100% - (100% / (12 / (12 - 5) )) ); }

  .col-lg-6 {
    width: calc(100% - (100% / (12 / (12 - 6) )) ); }

  .col-lg-7 {
    width: calc(100% - (100% / (12 / (12 - 7) )) ); }

  .col-lg-8 {
    width: calc(100% - (100% / (12 / (12 - 8) )) ); }

  .col-lg-9 {
    width: calc(100% - (100% / (12 / (12 - 9) )) ); }

  .col-lg-10 {
    width: calc(100% - (100% / (12 / (12 - 10) )) ); }

  .col-lg-11 {
    width: calc(100% - (100% / (12 / (12 - 11) )) ); }

  .col-lg-12 {
    width: 100%; } }
/* dùng xl cho màn điện thoại có kích thước lớn hơn 1200px */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px; }

  .col-xl-1 {
    width: calc(100% - (100% / (12 / (12 - 1) )) ); }

  .col-xl-2 {
    width: calc(100% - (100% / (12 / (12 - 2) )) ); }

  .col-xl-3 {
    width: calc(100% - (100% / (12 / (12 - 3) )) ); }

  .col-xl-4 {
    width: calc(100% - (100% / (12 / (12 - 4) )) ); }

  .col-xl-5 {
    width: calc(100% - (100% / (12 / (12 - 5) )) ); }

  .col-xl-6 {
    width: calc(100% - (100% / (12 / (12 - 6) )) ); }

  .col-xl-7 {
    width: calc(100% - (100% / (12 / (12 - 7) )) ); }

  .col-xl-8 {
    width: calc(100% - (100% / (12 / (12 - 8) )) ); }

  .col-xl-9 {
    width: calc(100% - (100% / (12 / (12 - 9) )) ); }

  .col-xl-10 {
    width: calc(100% - (100% / (12 / (12 - 10) )) ); }

  .col-xl-11 {
    width: calc(100% - (100% / (12 / (12 - 11) )) ); }

  .col-xl-12 {
    width: 100%; } }
.hidden {
  display: none; }

.text-center {
  text-align: center; }
.text-right {
  text-align: right; }
.text-left {
  text-align: left; }

.float-left {
  float: left; }
.float-right {
  float: right; }

.clear-fix {
  width: 100%;
  float: left;
  clear: both; }

#copy-input {
  opacity: 0;
  height: 0;
  width: 5px;
  position: absolute;
  top: -1px;
  left: -1px; }

/* Scollbar */
* {
  scrollbar-color: #0000ff #ccc;
  scrollbar-width: thin;
  scrollbar-face-color: #0000ff;
  scrollbar-track-color: #ccc; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track {
  background: #ccc; }

::-webkit-scrollbar-thumb {
  background: #0000ff; }

::-webkit-scrollbar-thumb:hover {
  background: #68767b; }

.pagination {
  text-align: center; }
  .pagination-box {
    width: 100%;
    float: left;
    clear: both;
    margin-top: 20px; }
  .pagination li, .pagination .page-item {
    display: inline-block;
    color: #cccccc;
    margin-right: 3px; }
  .pagination a, .pagination span, .pagination .page-link {
    color: #cccccc;
    padding: 10px 15px;
    display: block;
    text-align: center;
    border: 1px solid #eeeeee;
    background: #ffffff;
    margin-bottom: 5px;
    transition: 0.2s; }
    .pagination a:hover, .pagination span:hover, .pagination .page-link:hover {
      background: #1da64c;
      color: #ffffff;
      border: 1px solid #1da64c;
      transition: 0.2s; }
  .pagination li.active a, .pagination li.active span, .pagination li.active .page-link, .pagination .active a, .pagination .active span, .pagination .active .page-link {
    border: 1px solid #1da64c;
    color: #ffffff;
    background: #1da64c; }

@media only screen and (max-width: 575px) {
  .pagination .page-item {
    display: none !important; }
  .pagination .page-item:nth-child(1),
  .pagination .page-item:nth-child(2),
  .pagination .page-item:nth-child(3),
  .pagination .page-item:nth-last-child(1),
  .pagination .page-item:nth-last-child(2),
  .pagination .page-item:nth-last-child(3),
  .pagination .page-item.disabled,
  .pagination .page-item.active {
    display: inline-block !important; } }
/* Module Breadcrumb */
.breadcrumb {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  z-index: 2; }
  .breadcrumb ul {
    float: left;
    width: 100%; }
    .breadcrumb ul li {
      float: left; }
      .breadcrumb ul li:after {
        content: "»";
        padding: 10px;
        color: #222;
        display: inline-block; }
      .breadcrumb ul li:last-child:after {
        content: "";
        display: none; }
      .breadcrumb ul li a {
        display: block;
        float: left;
        padding: 10px 0px;
        color: #01be42;
        font-weight: normal; }
      .breadcrumb ul li:last-child a {
        color: #000000; }

.btn {
  float: left;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  transition: 0.2s;
  border: 1px solid transparent; }
  .btn-flat {
    border-radius: 0px; }
  .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4; }
    .btn-primary:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74; }
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc; }
    .btn-default:hover {
      color: #333;
      background-color: #e6e6e6;
      border-color: #adadad; }
  .btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a; }
    .btn-danger:hover {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925; }
  .btn-checkbox {
    -webkit-appearance: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 0px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
    vertical-align: middle; }
    .btn-checkbox:checked {
      background: url("../img/icon/icon-check.png");
      background-size: 20px 20px;
      color: #e9ecee;
      border: none; }

/* Module Loading */
/* Loading full page */
#loading_box {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  opacity: 0;
  visibility: hidden; }

#loading_image {
  width: 100%;
  height: 100%;
  background: url("../img/loading_image.gif") no-repeat center center;
  background-size: 50px 50px; }

/* loading in box */
.loading {
  position: relative;
  transition: 0.2s; }
  .loading:before, .loading:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000; }
  .loading:before {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }
  .loading:after {
    background: url("../img/loading_image.gif") no-repeat center center;
    background-size: 50px 50px; }

/* Module progress  */
.progress-box {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3px;
  background: #ffffff;
  transition: 0.1s;
  z-index: 100000;
  display: none; }

.progress-run {
  height: 100%;
  width: 0;
  background: #0000ff;
  display: block;
  transition: 0.1s; }

.image-square,
.image-circle,
.image-3-2,
.image-16-9 {
  width: 100%;
  height: auto !important;
  position: relative; }
  .image-square:after,
  .image-circle:after,
  .image-3-2:after,
  .image-16-9:after {
    content: "";
    display: block; }
  .image-square img,
  .image-circle img,
  .image-3-2 img,
  .image-16-9 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 100% !important;
    height: 100% !important; }

.image-square:after {
  padding-bottom: 100%; }

.image-circle {
  border-radius: 100%;
  overflow: hidden; }
  .image-circle:after {
    padding-bottom: 100%; }

.image-3-2:after {
  padding-bottom: 66.66%; }

.image-16-9:after {
  padding-bottom: 56.25%; }

.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10001;
  transition: 0.2s;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  opacity: 0;
  visibility: hidden; }
  .popup.open {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
    overflow-x: hidden;
    overflow-y: auto; }
  .popup-close {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10001; }
  .popup-dialog {
    width: 600px;
    float: left;
    margin: 30px auto;
    position: relative;
    z-index: 10002; }
  .popup-header {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    background: #ffffff;
    border-bottom: 1px solid #cccccc; }
    .popup-header__content p {
      padding: 10px 10px;
      background: #0000ff;
      color: #ffffff;
      font-weight: bold; }
    .popup-header__close {
      position: absolute;
      top: calc(-25px / 2);
      right: calc(-25px / 2);
      cursor: pointer; }
      .popup-header__close i {
        width: 25px;
        height: 25px;
        border-radius: 25px;
        background: #1b1bca;
        line-height: 25px;
        text-align: center;
        color: #ffffff;
        transition: 0.2s; }
        .popup-header__close i:hover {
          background: #0000ff;
          transition: 0.2s; }
  .popup-body {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    background: #ffffff;
    padding: 10px; }
  .popup-footer {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    background: #ffffff;
    border-top: 1px solid #cccccc;
    text-align: right; }
    .popup-footer__content {
      width: 100%;
      float: left;
      clear: both;
      padding: 10px;
      text-align: right; }
    .popup-footer .btn {
      float: none;
      display: inline-block;
      margin-left: 5px;
      padding: 8px 10px; }

.css-content h1, .css-content h2, .css-content h3, .css-content h4, .css-content h5, .css-content h6 {
  color: #333333;
  margin: 15px 0; }
.css-content h2 {
  font: 700 20px/24px sans-serif; }
.css-content h3 {
  font: 700 18px/21px sans-serif; }
.css-content h4 {
  font: 700 16px/19px sans-serif; }
.css-content h5,
.css-content h6 {
  font: 700 14px/18px sans-serif; }
.css-content a {
  color: #1F7ECB; }
.css-content div {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
  text-align: justify; }
.css-content p {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 10px;
  text-align: justify; }
.css-content ul {
  width: 100%; }
  .css-content ul li {
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 15px;
    line-height: 25px;
    position: relative;
    text-align: justify; }
    .css-content ul li:before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      display: inline-block;
      width: 6px;
      height: 6px;
      background: #dc0021;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }
.css-content ol {
  width: 100%;
  font-size: 16px;
  padding-left: 20px; }
  .css-content ol li {
    margin-bottom: 10px;
    line-height: 25px;
    position: relative;
    text-align: justify; }
.css-content .sudo-media-item {
  width: 100%;
  text-align: center;
  margin: 20px 0; }
  .css-content .sudo-media-item img {
    margin-bottom: 5px;
    max-width: 100%;
    display: block;
    margin: 0 auto; }
  .css-content .sudo-media-item figcaption {
    padding: 10px 0; }
.css-content img {
  max-width: 100%;
  display: block;
  margin: 20px auto; }
.css-content table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100% !important;
  margin-bottom: 20px; }
  .css-content table tr td, .css-content table tr th {
    padding: 10px;
    border: 1px solid #000; }
.css-content iframe {
  max-width: 100% !important;
  margin: 20px auto;
  display: block; }
.css-content .mce-toc {
  width: 100%;
  padding: 10px;
  border: 1px dashed #ccc;
  background: #fcfcfc;
  margin: 20px 0;
  box-sizing: border-box; }
  .css-content .mce-toc > div {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    color: #333333;
    text-align: center; }
  .css-content .mce-toc ul {
    color: #1ca54c !important;
    margin: 0;
    list-style: none; }
    .css-content .mce-toc ul li {
      margin-left: 20px;
      margin-bottom: 0.5em;
      line-height: 1.4em; }
      .css-content .mce-toc ul li a {
        font-weight: bold !important;
        color: #1F7ECB !important; }
      .css-content .mce-toc ul li ul {
        margin-top: 10px; }
        .css-content .mce-toc ul li ul li a {
          font-weight: normal !important; }

.p-0 {
  padding: 0px; }

.pt-0 {
  padding-top: 0px; }

.pb-0 {
  padding-bottom: 0px; }

.pr-0 {
  padding-right: 0px; }

.pl-0 {
  padding-left: 0px; }

.p-10 {
  padding: 10px; }

.pt-10 {
  padding-top: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pr-10 {
  padding-right: 10px; }

.pl-10 {
  padding-left: 10px; }

.p-15 {
  padding: 15px; }

.pt-15 {
  padding-top: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.pr-15 {
  padding-right: 15px; }

.pl-15 {
  padding-left: 15px; }

.m-0 {
  margin: 0px; }

.mt-0 {
  margin-top: 0px; }

.mb-0 {
  margin-bottom: 0px; }

.mr-0 {
  margin-right: 0px; }

.ml-0 {
  margin-left: 0px; }

.m-10 {
  margin: 10px; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.mr-10 {
  margin-right: 10px; }

.ml-10 {
  margin-left: 10px; }

.m-15 {
  margin: 15px; }

.mt-15 {
  margin-top: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.mr-15 {
  margin-right: 15px; }

.ml-15 {
  margin-left: 15px; }

p {
  color: red; }

span {
  color: blue; }

/*# sourceMappingURL=style.css.map */
